<div>
    <section class="w-full  lg:h-20 ">
        <div class="relative h-2/3 flex justify-between">
            <aside class="bg-dark w-full xl:[clip-path:polygon(0_0,60%_0,70%_100%,0_100%)]">
                <div class="container content-center h-full">
                    <ul class="flex gap-x-12">
                        <li class="text-yellow-500 flex gap-x-2 font-montserrat-sans">
                            <span {{ stimulus_controller('components/base_icon', {
                                type: "calendar-check",
                                size: 17
                            }) }}></span>
                            <span class="text-[15px]">Ouvert Lun - Dim / 07h-19h</span>
                        </li>
                        <li class="text-yellow-500 flex gap-x-2 font-montserrat-sans">
                            <span {{ stimulus_controller('components/base_icon', {
                                type: "map-pin",
                                size: 17
                            }) }}></span>
                            <span class="text-[15px]">Yaounde, Lycee Bilingue Essos</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <aside class="bg-yellow-500 absolute w-full h-full top-0 right-0 [clip-path:polygon(60%_0,100%_0,100%_100%,70%_100%)]">
                <div class="container content-center h-full">
                    <ul class="flex gap-x-12 justify-end">
                        <li class="text-dark flex gap-x-2 font-sans items-center">
                            <div {{ stimulus_controller('components/base_icon', {
                                type: "phone",
                                size: 16
                            }) }} class="bg-dark p-1 rounded-sm text-white"></div>
                            <span class="text-[15px] font-medium">(+237) 655 55 55 90 - 675 75 75 30</span>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
{#        <div class="h-1/3 bg-yellow-500 text-black text-center content-center">ppppp</div>#}
    </section>
    <section class="container h-20 flex overflow-hidden items-center justify-between">
        <div class="xl:basis-1/3">
            <a href="{{ sulu_content_root_path() }}">
                <figure>
                    <img src="{{ asset('/static/images/logo.svg') }}" alt="Logo de l'entreprise" width="56px">
                </figure>
            </a>
        </div>
        <nav class="xl:basis-1/3">
            <ul class="flex justify-between gap-x-3 lg:gap-x-6 xl:gap-x-12 font-family-sans font-medium">
                {% for item in sulu_page_navigation_root_tree('main', 1, {
                    title: 'title',
                    url: 'url',
                }) %}
                    <li>
                        <a href="{{ sulu_content_path(item.url) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="flex items-center gap-x-3 xl:gap-x-8 xl:basis-1/3 justify-end">
            <div>
                <div>
                    <label>
                        <input class="rounded-full lg:w-64 py-2.5 px-3 border text-sm border-gray-300" type="search" placeholder="Rechercher"/>
                    </label>
                </div>
            </div>
            <div>
                {% for localization in localizations %}
                    <a href="{{ localization.url }}"
                       title="{{ localization.locale }}"
                       class="navbar__item navbar__item--locale{{ localization.locale == app.request.locale ? ' navbar__item--active' : '' }}">
                    <span>
                        {{ localization.locale }}
                    </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
