<div>
    <section class="w-full bg-dark lg:h-20 text-white text-center content-center">
        Nous sommes ouverts pour toutes les entreprises !
        <span class="text-yellow-500" {{ stimulus_controller('components/base_icon', {
            type: "calendar-days",
            size: 20
        }) }}>...</span>
    </section>
    <section class="container h-20 flex overflow-hidden items-center justify-between">
        <div class="xl:basis-1/3">
            <a href="{{ sulu_content_root_path() }}">
                <figure>
                    <img src="{{ asset('/static/images/logo.svg') }}" alt="Logo de l'entreprise" width="56px">
                </figure>
            </a>
        </div>
        <nav class="xl:basis-1/3">
            <ul class="flex justify-between gap-x-3 lg:gap-x-6 xl:gap-x-12 font-family-sans font-medium">
                {% for item in sulu_page_navigation_root_tree('main', 1, {
                    title: 'title',
                    url: 'url',
                }) %}
                    <li>
                        <a href="{{ sulu_content_path(item.url) }}"
                           title="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="flex items-center gap-x-3 xl:gap-x-8 xl:basis-1/3 justify-end">
            <div>
                <div>
                    <label>
                        <input class="rounded-full lg:w-64 py-2.5 px-3 border text-sm border-gray-300" type="search" placeholder="Rechercher"/>
                    </label>
                </div>
            </div>
            <div>
                {% for localization in localizations %}
                    <a href="{{ localization.url }}"
                       title="{{ localization.locale }}"
                       class="navbar__item navbar__item--locale{{ localization.locale == app.request.locale ? ' navbar__item--active' : '' }}">
                    <span>
                        {{ localization.locale }}
                    </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
